* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "Poppins";
  font-weight: 600;
  src: url("https://fonts.gstatic.com/s/poppins/v15/pxiEyp8kv8JHgFVrJJlZKA.ttf");
}
:root {
  --primary-color: #bababa;
  --secondary-color: #df313c;
  --text-color: white;
}
.hero-section {
  background-color: var(--primary-color);
  height: 120vh;
  background-image: url("../media/DrumMachine.png");
  background-repeat: no-repeat;
  background-position: right;
  background-position-y: center;
  background-size: 800px;
  text-align: center;
  padding-top: 30px;
}

h1 {
  color: var(--text-color);
  font-family: Poppins;
  text-transform: uppercase;
  font-size: 11rem;
  font-weight: bolder;
  text-align: center;
  padding-top: 20vh;
}

.logo {
  color: var(--text-color);
  background-color: var(--secondary-color);
  text-align: center;
  display: inline-block;
  padding: 2px;
  border-radius: 50%;
  vertical-align: middle;
}

.main {
  display: flex;
  background-color: var(--primary-color);
  padding: 0px 100px 0px 100px;
}

.games {
  width: 50%;
}

.podcasting {
  width: 50%;
  background-color: var(--secondary-color);
}

.podcastImg {
  margin-left: 20px;
}

@media only screen and (max-width: 952px) {
  h1 {
    font-size: 9rem;
    padding-top: 15vh;
  }
}

@media only screen and (max-width: 768px) {
  .hero-section {
    background-size: 700px;
  }

  h1 {
    font-size: 7rem;
    padding-top: 10vh;
  }
  .main {
    flex-direction: column;
    padding: 0px 20px 0px 20px;
  }

  .games,
  .podcasting {
    width: 100%;
  }

  .podcasting {
    margin-top: 30px;
  }
}

@media only screen and (max-width: 606px) {
  .hero-section {
    background-size: 600px;
  }

  h1 {
    font-size: 6rem;
  }
}

@media only screen and (max-width: 480px) {
  h1 {
    font-size: 4rem;
  }

  .logo {
    font-size: 14px;
    padding: 10px;
  }
}

@media only screen and (max-width: 517px) {
  h1 {
    font-size: 4rem;
  }
}
