@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");

/* Global styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Poppins";
  font-weight: 600;
  src: url("https://fonts.gstatic.com/s/poppins/v15/pxiEyp8kv8JHgFVrJJlZKA.ttf");
}

:root {
  --primary-color: #bababa;
  --secondary-color: #df313c;
  --third-color: #dfdfdf;
  --fourth-color: #f1f1f1;
  --text-color: white;
  --text-color2: rgb(68, 68, 68);
}

/* HERO SECTION */

.hero-section {
  background-color: var(--primary-color);
  height: 100vh;
  background-image: url("./media/images/drumMachine.webp");
  background-repeat: no-repeat;
  background-position: right;
  background-position-y: center;
  background-size: 800px;
  text-align: center;
  padding-top: 30px;
}

.hero-section h1 {
  color: var(--text-color);
  font-family: Poppins;
  text-transform: uppercase;
  font-size: 10rem;
  font-weight: bolder;
  text-align: center;
  padding-top: 10vh;
}

.hero-section .logo {
  color: var(--text-color);
  background-color: var(--secondary-color);
  text-align: center;
  display: inline-block;
  padding: 2px;
  border-radius: 50%;
  vertical-align: middle;
}

.hero-section .logoImg {
  height: 80px;
}

.hero-section p {
  font-family: Poppins;
  color: var(--text-color2);
  text-transform: uppercase;
  font-weight: bold;
  margin: 10px;
}

/* MAIN SECTION */

.main {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--primary-color);
  padding: 0px 80px 0px 80px;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.games {
  width: 50%;
  background-color: var(--primary-color);
  overflow: hidden;
}

.gamesImg {
  width: 100%;
  object-fit: cover;
}
.gamesImgFrame {
  width: 100%;
  overflow: hidden;
}
.gamesContent {
  background-color: var(--primary-color);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px;
}

/* VIDEOS */

.videoFrame {
  width: 48%;
  padding-bottom: 40%;
  position: relative;
  margin: 1%;
  margin-bottom: 30px;
}

.videoContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 20px;
  display: flex;
}

.video .video2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  /* The "scale" value can be adjusted to zoom in/out */
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
}
.video2 {
  transform: scale(1.4);
  /* The "scale" value can be adjusted to zoom in/out */
}

.video:hover {
  cursor: pointer;
}
.video2:hover {
  cursor: pointer;
}

/* PODCAST */

.podcasting {
  width: 50%;
  background-color: var(--third-color);
  overflow: hidden;
}
.podImgFrame {
  background-color: var(--secondary-color);
  width: 100%;
}

.podcastImg {
  width: 210.5%;
  transform: translate(-25%, 1%);
}

.podContent {
  display: flex;
  flex-wrap: wrap;
  padding: 5px 0px 0px 0px;
}
.playPod {
  width: 130px;
}
.playPod:hover {
  cursor: pointer;
}
.waveImg.clicked {
  filter: blur(2px);
  transform: rotate(5deg);
}
.waveImg[aria-pressed="false"] .playPod {
  content: url("media/images/My Play Button GREY.webp");
}
.waveImg[aria-pressed="true"] .playPod {
  content: url("media/images/My Play Button RED.webp");
}
.podTitle {
  font-family: "Poppins";
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.visitPod {
  background-color: #df313c;
  padding: 7px;
  border-radius: 50px;
  margin: 5px;
}
.visitP {
  color: white;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bolder;
}
.visitPod:hover {
  cursor: pointer;
  background-color: var(--primary-color);
}

/* wavesurfer */

.waveContainer {
  width: 100%;
  border-radius: 10px;
  background-color: var(--fourth-color);
  margin: 15px;
}
.wave {
  display: block;
  width: 100%;
}

.waveGroup {
  display: flex;
  margin-top: 30px;
  margin-bottom: 10px;
}

.audioImg {
  height: 90px;
  filter: grayscale(100%);
}

/* REVIEWS */

/* Slideshow container */
.slideshow-container {
  position: relative;
  background: var(--third-color);
  height: 100%;
}

/* Slides */
.mySlides {
  display: none;
  padding: 80px;
  text-align: center;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 150px;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #888;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}
.prev:active,
.next:active {
  background-color: var(--secondary-color);
}

/* Add an italic font style to all quotes */
q {
  font-style: italic;
  font-size: x-large;
  color: var(--text-color2);
}

/* Add a blue color to the author */
.author {
  color: var(--secondary-color);
  font-size: x-large;
}

/* AUDIOBOOK */

.audiobooks {
  width: 100%;
}

.audioBookContent {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 70px;
}

.full-audiobook-list {
  background-color: #696969;
  padding: 15px;
  border-radius: 50px;
  margin: 15px;
}
.listP {
  font-family: "Poppins";
  color: white;
  text-transform: uppercase;
  font-size: 25px;
  font-weight: bolder;
}
.full-audiobook-list:hover {
  cursor: pointer;
  background-color: var(--secondary-color);
}

/* TEXT MODAL */

#textModal {
  display: none;
  position: fixed;
  z-index: 2;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.text-modal-content {
  position: relative;
  margin-top: 10vh;
  margin-left: 11%;
  margin-right: 11%;
  max-width: 100%;
  max-height: 80%;
  overflow: scroll;
}

.audiobook-list {
  list-style-type: decimal;
  padding: 20px 60px;
  columns: 2;
  column-gap: 40px;
  background-color: var(--fourth-color);
  color: var(--text-color2);
}
.audiobook-list:hover {
  cursor: default;
}

.txtClose {
  position: absolute;
  top: -18px;
  right: 0px;
  font-size: 3rem;
  color: var(--secondary-color);
  cursor: pointer;
  z-index: 3;
}
li:hover {
  cursor: default;
}

/* MOVIES */

.movies {
  width: 100%;
  background-color: var(--text-color2);
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
}

.logo2 {
  color: var(--text-color);
  text-align: center;
  display: inline-block;
  padding: 10px;
  border: 2px solid var(--fourth-color);
  border-radius: 50%;
}

.logoImg2 {
  height: 50px;
}

.clapper {
  position: absolute;
  right: 0%;
  transform: translateY(-30%) scale(0.9);
  max-width: 100%;
  height: auto;
  width: 50%;
}

.moviesContainer1 {
  margin-bottom: 30%;
  display: flex;
}

.moviesContainer2 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* FOOTER */

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primary-color);
  padding: 50px;
}

.logo3 {
  background-color: var(--secondary-color);
  padding: 2px;
  border-radius: 50%;
  margin: 20px;
}

.logoImg3 {
  height: 80px;
}

.logo3container {
  display: flex;
}
.link {
  margin: 10px;
}
a {
  text-decoration: none;
}
a.link-anchor:hover {
  cursor: pointer;
}

/* heading */

h2 {
  font-family: "Poppins";
  color: var(--text-color2);
  text-transform: uppercase;
  display: block;
  margin: 10px;
}

h3 {
  font-family: "Poppins";
  color: var(--text-color2);
  text-transform: uppercase;
  padding-bottom: 10px;
  padding-left: 10px;
}

h4 {
  font-family: "Poppins";
  color: #bababa;
  text-transform: uppercase;
  font-size: 1.5rem;
  display: block;
  margin-left: 20px;
  padding: 10px;
}

/* Buttons */

button {
  background: none;
  border: none;
  cursor: pointer;
}

/* VIDEO MODAL*/

.modal {
  display: none;
  position: fixed;
  z-index: 2;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
}

.modal-content {
  position: relative;
  margin-top: 10vh;
  margin-left: 11%;
  margin-right: 11%;
  max-width: 100%;
}
.modal-content video {
  width: 100%;
  cursor: pointer;
}
.close {
  position: absolute;
  top: -15px;
  right: 3px;
  font-size: 3rem;
  color: var(--secondary-color);
  cursor: pointer;
  z-index: 3;
}

/* Media queries */

@media only screen and (min-width: 1356px) {
  h4 {
    font-size: 2rem;
  }
  .slideshow-container {
    height: auto;
  }
  .prev,
  .next {
    top: 50%;
  }
}

@media only screen and (max-width: 952px) {
  .hero-section h1 {
    font-size: 8rem;
    padding-top: 15vh;
  }
  .main {
    padding: 0px 50px 0px 50px;
  }
  .podcastImg {
    transform: translate(-25%, 1.4%);
  }
  .podContent {
    padding: 2px 0px 0px 0px;
  }
  .videoFrame {
    width: 78%;
    padding-bottom: 50%;
  }
  .audioBookImgFrame {
    height: 15vh;
  }
}

@media only screen and (max-width: 768px) {
  .hero-section {
    background-size: 700px;
  }
  .hero-section h1 {
    font-size: 7rem;
    /* padding-top: 10vh; */
  }
  .main .games,
  .main .podcasting {
    width: 100%;
  }
  .main .podcasting {
    margin-top: 30px;
  }
  .podImgFrame {
    overflow: hidden;
  }
  .prev,
  .next {
    top: 120px;
  }
}

@media only screen and (max-width: 606px) {
  .hero-section {
    background-size: 600px;
  }
  .hero-section h1 {
    font-size: 6rem;
    padding-top: 10vh;
  }
  .clapper {
    transform: translateY(-40%) scale(1);
  }
  .prev,
  .next {
    top: 130px;
  }
}

@media only screen and (max-width: 517px) {
  .hero-section {
    background-size: 500px;
  }
  .hero-section h1 {
    font-size: 4rem;
  }
  .movies {
    padding: 20px;
  }
}

@media only screen and (max-width: 480px) {
  .hero-section h1 {
    /* font-size: 4rem; */
    padding-top: 20vh;
  }
  .main {
    padding: 0px 20px 0px 20px;
  }
  .hero-section .logo {
    font-size: 14px;
    padding: 10px;
  }
  .hero-section .logoImg {
    height: 50px;
  }
  .logoImg2 {
    height: 30px;
  }
  .logoImg3 {
    height: 50px;
  }
  h3 {
    font-size: 15px;
  }
  .prev,
  .next {
    top: 150px;
  }
  .listP {
    font-size: 20px;
  }
  .text-modal-content {
    margin-top: 10vh;
  }
  .modal-content {
    margin-top: 30vh;
    margin-left: 2%;
    margin-right: 2%;
  }
}

@media only screen and (max-width: 340px) {
  .hero-section h1 {
    font-size: 3rem;
  }
  .visitP {
    font-size: 8px;
  }
  h3 {
    font-size: 12px;
  }
  .prev,
  .next {
    top: 170px;
  }
}

/* Media queries based on height */

@media (max-height: 600px) {
  .hero-section h1 {
    font-size: 5rem;
    padding-top: 0vh;
  }
  .modal-content {
    margin-top: 5vh;
    margin-left: 15%;
    margin-right: 15%;
  }
}

@media (max-height: 412px) {
  .hero-section {
    background-size: 450px;
  }
  .hero-section h1 {
    font-size: 5rem;
    padding-top: 5vh;
  }
  .hero-section .logo {
    font-size: 14px;
    padding: 4px;
  }
  .hero-section .logoImg {
    height: 40px;
  }
}

@media (max-height: 344px) {
  .hero-section h1 {
    /* font-size: 4rem; */
  }
  .modal-content {
    margin-top: 5vh;
    margin-left: 19%;
    margin-right: 19%;
  }
}
